<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>EBalance</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/react-0.14.3.js"></script>
        <script src="/js/react-dom-0.14.3.js"></script>
    </head>
    <body>
        <div th:fragment="header">
            <h1>header</h1>
        </div>
        <div th:fragment="footer">
            <h1>footer</h1>
        </div>
    </body>
</html>
